@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #007765;
}

nav {
    box-sizing: border-box;
    max-width: 1219px;
    margin: 0 auto 0 auto;
    padding: 20px 55px 20px 55px;
}

ul {
    list-style-type: none;
    margin: 5px 0 0 0;
    padding: 0;
    float: right;
}

ul > li {
    display: inline-block;
}

ul > li > a {
    display: block;
    text-decoration: none;
    color: #fff;
    line-height: 28px;
    font-size: 24px;
    font-weight: 500;
}

main {
    background-color: #EEEEEE;
    box-sizing: border-box;
    max-width: 1219px;
    margin: 0 auto 0 auto;
}

aside img {
    min-width: 92px;
    min-height: 52px;
    position: fixed;
    z-index: 1;
    bottom: 20px;
    right: 20px;
    border: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #a47ee6, #19dbd2);
}

h1 {
    color: #007765;
    font-size: 64px;
    font-weight: 500;
    line-height: 75px;
    margin-top: 0px;
    text-align: center;
}

p {
    font-size: 32px;
}

.slogan {
    background-size: cover;
    background-position: center;
    display: table;
    width: 100%;
}

.container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.content {
    padding: 48px 55px 40px 55px;
}

.content p {
    text-align: justify;
}

.bg-1 {
    background-image: url('../img/PiperNetIsHere.png');
    height: 403px;
}

.bg-1 p {
    font-weight: 500;
    font-size: 72px;
    line-height: 84px;
    color: #fff;
}

.bg-2 {
    background-image: url('../img/InThisTogether.png');
    height: 483px;
}

.bg-2 p {
    padding: 0 160px;
    color: #fff;
    font-style: italic;
    font-size: 48px;
    line-height: 56px;
}
.problem, 
.introducing,
.team {
    margin-top: -80px;
    padding-top: 80px;
    -webkit-background-clip: content-box;
	background-clip: content-box;
}

.introducing {
    background-color: #FFFFFF;
}

.introducing img {
    max-width: 115px;
    max-height: auto;
    float: left;
    margin-right: 48px;
}

.problem,
.team { 
    background-color: #EEEEEE;
}

.our-team {
    text-align: center;
}

.our-team__element p {
    text-align: center;
    margin: 0;
    padding: 5px 0 12px 0;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 21px;
}

.our-team__element h3 {
    color: #007765;
    margin: 6px 0 0 0;
    font-size: 24px;
}

.our-team__element {
    display: inline-block;
    width: 350px;
    height: 280px;
}

figure {
    display: inline-block;
    margin: 0 70px 0 70px;
}

figure > img {
    width: 168px;
}

footer {
    background-color: #333333;
}

footer .container p {
    margin: 0;
    padding: 48px 340px 64px 340px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}